.simple-slider-cards-slider{
    position:relative;
    max-width: 226;
    margin:auto;

}
.simple-slider-cards-slider-wrapper{
    display:flex;
    position:absolute;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

}
.simple-slider-img-container{
    min-width:100px;
    flex: 1;
    min-width: 200px;
    opacity: 0.7;
    transform: scale(0.8);
    box-shadow: none;
    background-color: white;
    border-color: white;
    transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear,transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

}

.simple-slider-img-container > canvas {
    background-size:cover;
    display: block;
    height:auto;
    opacity:1;

}

