#in-the-media .itm-media img,
.page-template-template-press .itm-media img {
    max-width: 95%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /*transition: opacity .3s ease;*/
    transition: all 0.3s ease-in-out;
    filter: grayscale(100%);
    max-height: 150px;
}

.home #in-the-media .itm-media img,{
    max-height: 95%;
}


#in-the-media .itm-media:hover  img,
.page-template-template-press .itm-media:hover  img{
    filter: grayscale(0);
}
#in-the-media .itm-media img.itm-media-hover, #in-the-media .itm-media:hover img,
.page-template-template-press .itm-media img.itm-media-hover, .page-template-template-press .itm-media:hover img{
	     opacity: 1 !important; 
}

.page-template-template-press .itm-media img.post-id-8381 {
    max-width: 55%;
    width: 55%;
}


.page-template-template-press  .itm-media{
    height: 250px;
    max-width: 100%;
}